* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
      url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
      url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPS */
:root {
  --blue:#0a327b;
  --red:#f65552;
  --grey-blue:#939cad;
  --dark:#1c202b;
  --dark-grey:#5e6778;
  --light-grey:#e5effa;
  --light-grey-blue:#dde7ee;
  --snow:#f7fafd;
  --blue-active:#e5effa;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--snow);
  color: var(--dark-grey);
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
}


/* CARD */

.card {
  background-color: #fff;
  box-shadow: 0px 20px 60px 0px rgba(73, 97, 168, 0.05);
  border-radius: 1rem;
  padding: 1.75rem;
}

.card__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.card__messages {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.card__info {
  color: var(--dark);
  margin-right: 0.75rem;
}

.card__quantity {
  display: inline-block;
  width: 2rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0.375rem;
}

.card__quantity--d {
  display: none;
}

.card__btn {
  cursor: pointer;
  background-color: #fff;
  font-weight: 500;
  line-height: 1.25rem;
  color:var(--dark-grey);
}


.card__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card__link {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border-radius: 0.5rem;
  color: var(--dark-grey);
}

.card__link--active {
  background-color: var(--snow);
}

.card__img {
  display: block;
  margin-right: 1.25rem;
  border-radius: 50%;
}

.card__inner {
  width: 34.625rem;
}

.card__news {
  position: relative;
  font-weight: 500;
}

.card__name {
  font-weight: 800;
  color: var(--dark);
}

.card__post {
  font-weight: 800;
  color: var(--dark-grey);
}

.card__time {
  font-weight: 500;
  color: var(--grey-blue);
}

.card__groups {
  color: var(--blue);
  font-weight: 800;
}

.card__liked {
  border-radius: 0.5rem;
  width: 2.875rem;
  height: 2.875rem;
}

.card__message {
  display: none;
  width: 34.75rem;
  margin-left: auto;
  font-weight: 500;
  border: 1px solid var(--light-grey-blue);
  border-radius: 5px;
  padding: 1.125rem;
}

.card__message:hover {
  background-color: var(--blue-active);
}

.card__message--active {
  display: block;
}


/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

@media only screen and (max-width:769px) {
  .card {
    width: 34rem;
  }

  .card__message {
    width: 25rem;
  }
}

@media only screen and (max-width:550px) {
  .card {
    padding: 1.5rem 1rem;
    width: 24rem;
  }

  .card__notification {
    margin-bottom: 1.5rem;
  }

  .card__info {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .card__btn {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .card__link {
    padding: 1rem;
  }

  .card__img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .card__news {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .card__message {
    width: 20rem;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

@media only screen and (max-width:375px) {
  body {
    align-items: start;
  }

  .card {
    width: 100%;
    max-width: 22rem;
  }

  .card__message {
    width: 16.5rem;
  }
}